body{
    background-color: #1e1e2e;
}

.links{
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    font-weight: 500;
    
    
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    color: #89b4fa;
    opacity: 0.7;
    font-family: 'Roboto Mono', monospace;
}

a:hover{
    color: #89b4fa;
    opacity: 1;
}

h1{
    text-align: center;
    padding-top: 80px ;
    color: #cdd6f4;
    font-size: 100px;
    font-family: "Roboto Mono", serif;
    font-weight: 5000;
}
h3{
    color: #cdd6f4;
    font-size: 30px;
    font-family: "Roboto Mono", serif;
    text-align: left;
    padding-left: 50px; 
}
h2{
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    color: #cdd6f4;
    font-size: 30px;
    font-family: "Roboto Mono", serif;

}
p2{
    text-align: left;
    font-size: 25px;
    font-weight: 600;    
    font-family: "Roboto Mono", serif;
    color:#bac2de ;
    padding-left: 50px;
}
p{
    text-align: center;
    position: relative;
    margin-top: -50px;
    font-size: 20px;
    font-family: "Roboto Mono", serif;
    color:#bac2de ;
}

.icons{
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    p2{
        text-align: left;
        font-size: 13px;
        font-weight: 600;
        
        padding-left: 50px;
    }

    h1{
        font-size:80px;
    }
}
