body{
    background-color: #d8dee9;
}

h1{

    color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;

  }

  p{
   text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #171717;
  }

  

  hr {
    display: block;
    width: 50%;
  }

  